.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: relative;
  z-index: 1;
  text-align: center;
}

.button-container button {
  font-size: 1.5rem;
  padding: 10px 30px;
}

.searchbar {
  background-color: black !important;  
  padding: 1rem !important;
  color: white !important;  
  font-weight: bold !important;
}

.searchbar::placeholder {
  color: gray !important;  
  opacity: 1 !important;  
}

.track {
  border: 2px solid green;

  &:hover {
    background-color: green;
    color: white;
  }
  cursor: pointer;
}

